/* -------------------------------- 

Primary style

-------------------------------- */

:root {
  --white: #ffffff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif !important;
  color: var(--white);
  background-color: var(--light-blue);
}

a {
  color: var(--light-blue);
  text-decoration: none;
}

hr{
  color: var(--light-blue);
}

img, svg, image {
  max-width: 100%;
}

 input{
  max-width:90%;
  font-size: 2rem !important;
}

::placeholder{
  font-size: 2rem !important;
}

.container{
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.counter-div{
  width:30rem;
  border: var(--color-sec) 1px solid;
  padding: 1rem;
  background-color: var(--color-primary);
  color:var(--white);
  text-align: center;
  border-radius: 5px;
  margin: 2rem;
}

.counter-div > *{
margin-bottom: 2rem;
}

.count{
  font-size: 4rem;
}

.buttons button{
  padding: 1rem;
  margin:  0 1rem;
  font-size: 1.5rem;
  border:none;
  outline: none;
  border-radius: 3px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif !important;
  cursor: pointer;
}


button.reset{
  background-color: greenyellow;
  color: var(--black);
}
